.navbar {
  background: #004170 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  height: 50px !important;
  /* display: block !important; */
}

.navbar-brand>img {
    height: 50px;
    width: auto !important;
    padding: 5px;
}

.map-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: white;
  width: 0;
  transition: width 250ms;
  z-index: 1000000;
}


.fade-in {
  animation: fadein 2s;
}

.fade-out {
  animation: fadeout 2s;
}

.hide {
  display: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.linearstretch{
  margin: 3px;
}

/* Making forms a bit tighter */
.form-group.row{
  margin-bottom: 4px;
}
.input-group.input-group-sm.col-sm-9{
  padding-left: 0px;
  padding-right: 0px;
}
.card-body{
  padding: 0.75em;
  padding-right: 1.75em;
}
.card-header{
  padding: 0.45em;
}
.card.card-body{
  width: 720px;
}

.dropdown-menu.show{
  overflow: auto;
  max-height: 700px;
  max-width: 400px;
}